.page {
    margin: 15px 0;
}

.page a {
    font-size: 12px;
    cursor: pointer;
    margin: 0 5px;
    color: #333;
}

.page a:hover {
    background-color: #222;
    color: #fff;
}

.page a.jp-previous { margin-right: 15px; }
.page a.jp-next { margin-left: 15px; }

.page a.jp-current, a.jp-current:hover { 
    color: #FF4242;
    font-weight: bold;
}

.page a.jp-disabled, a.jp-disabled:hover {
    color: #bbb;
}

.page a.jp-current, a.jp-current:hover,
.page a.jp-disabled, a.jp-disabled:hover {
    cursor: default; 
    background: none;
}

.page span { margin: 0 5px; }